.bg-black{
    background-color: #000;
}
.letra-blanca{
    filter: invert(.1);
    -webkit-filter: invert(.1); 
    -moz-filter: invert(.1)
}
.list-group{
    --bs-list-group-bg:transparent;
}
.fa-brands.fa-linkedin.fa-2x:hover{
    --bs-text-opacity: 1;
    color: #114bc9 !important;
}
.fa-brands.fa-square-facebook.fa-2x:hover{
    --bs-text-opacity: 1;
    color: #7c94c7 !important;
}
.fa-brands.fa-square-instagram.fa-2x:hover{
    --bs-text-opacity: 1;
    color: #c96a11 !important;
}
.fa-solid.fa-user.fa-2x:hover{
    --bs-text-opacity:er 1;
    color: #08a850 !important;
}

.container.text-center{
    background-color: 	#e5eee9;
    margin-left: 7rem;
    
   
}



.rounded-circle.w-25{
    position:absolute;
    margin-top: -13rem;
    margin-left: 5rem;
    width: 10rem !important;
    z-index: 0;
}

.progress {
    width: 75rem;
}
